@font-face {
    font-family: "Fira-Sans-light";
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    src: local("FiraSans-light"), url(font/FiraSans-light.ttf) format("truetype");
}

@font-face {
    font-family: "Fira-Sans";
    font-weight: 500;
    font-style: normal;
    font-display: swap;
    src: local("FiraSans"), url(font/FiraSans.ttf) format("truetype");
}

$family-serif: "Fira-Sans", serif;
$family-primary: $family-serif;

@import "./_bulma/bulma.sass";

html {
    background-color: $dark;
}

body {
    background-color: $dark;
    height: 100vh;
    transition: all 0.4s ease;
}

// Some styling 

body .subtitle,
body .title {
    color: $dark;
}

body.dark {
    background-color: $dark;
    color: $light;
}

body.dark .subtitle,
body.dark .title {
    color: $light;
}

body.dark button {
    background: $light;
    color: $dark;
}

.navbar, .navbar-dropdown {
    background-color: $black-ter;
    color: $grey-lightest;
}

.navbar-dropdown {
    border-top: 2px solid #{$dark}
}

.navbar-divider {
    background-color: $dark;
}

.navbar-item, .navbar-link {
    color: $grey-lightest;
}