<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="utf-8">
  <title>2027 ou jamais</title>
  <meta name='viewport' content="width=device-width, initial-scale=1" />
  <meta property="og:type" content="website" />
  <!-- <meta property="og:image" content="https://bevyengine.org/assets/bevy_logo_fill.png" /> -->
  <meta name="description" content="Programme politique open source, collaboratif et non-affilié d'inspiration écologiste et libertaire pour 2027" />
  <link rel="stylesheet" href="{{ get_url(path="style.css") | safe }}">
</head>

<body class="dark">
  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <!-- <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28"> -->
        Accueil
      </a>
  
      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
  
    <div class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item">
          Programme
        </a>

        <a class="navbar-item" href="{{ get_url(path="@/reasons/_index.md") }}">
          Motifs
        </a>
  
        <a class="navbar-item" href="{{ get_url(path="@/contribute/_index.md") }}">
          Contribuer
        </a>
  
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            Autres
          </a>
  
          <div class="navbar-dropdown">
            <a class="navbar-item">
              À propos
            </a>
            <a class="navbar-item">
              Contact
            </a>
            <hr class="navbar-divider">
            <a class="navbar-item">
              Signaler une erreur
            </a>
          </div>
        </div>
      </div>
  
      <div class="navbar-end">
        <div class="navbar-item">
        </div>
      </div>
    </div>
  </nav>
  {% block content %} {% endblock %}
</body>

</html>